<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us - Spam SMS Detector AI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css">
</head>
<body class="bg-gray-800 text-white">

   <!-- Navigation -->
   <nav class="bg-gray-900 py-4">
		<div class="container mx-auto px-4">
			<ul class="flex">
				<li class="mr-6">
					<a href="/" class="text-white">Detector</a>
				</li>
				<li class="mr-6">
					<a href="/about" class="text-white font-bold">About</a>
				</li>
				<li class="mr-6">
					<a href="/contact" class="text-white">Contact</a>
				</li>
			</ul>
		</div>
	</nav>


  <!-- About section -->
  <section class="bg-gray-800 py-20">
    <div class="container mx-auto px-6">
      <div class="flex flex-wrap justify-center">
        <div class="w-full md:w-2/3 lg:w-1/2">
          <h1 class="text-4xl font-bold mb-4">About Us</h1>
          <p class="text-lg mb-8">At our Spam SMS Detector AI site, we use state-of-the-art machine learning algorithms to help you detect spam SMS messages with unparalleled accuracy. Our algorithms are trained on a vast dataset of over 6000 SMS data, allowing us to identify and filter out spam messages with ease. Our system is designed to constantly learn and adapt to new spamming techniques, ensuring that our spam detector is always up-to-date with the latest threats.</p>

          <p class="text-lg mb-6">Our site is user-friendly and easy to navigate, allowing you to check your SMS messages for spam in just a few clicks. Simply upload your messages and let our spam detector analyze them for you. We take the privacy and security of our users seriously and do not store any personal information or messages on our servers.</p>

          <p class="text-lg mb-6">In addition, our spam SMS detector site is constantly being improved and updated with new features to help you stay spam-free. We offer real-time spam detection, so you can quickly filter out unwanted messages as they arrive in your inbox. Plus, our site is mobile-friendly, so you can check your messages for spam on the go.</p>

          <p class="text-lg mb-6">Trust us to help you keep your inbox clean and spam-free. Try our Spam SMS Detector AI site today!</p>

          <p class="text-lg leading-7">
            If you have any questions, comments, or feedback, please don't hesitate to reach out to us at
            <a href="mailto:deltagon@protonmail.com" class="text-blue-500">deltagon@protonmail.com</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-gray-900 py-4">
		<div class="container mx-auto flex justify-between px-4">
		  <p class="text-white">&copy; 2023 Movie Recommender AI</p>
		  <p class="text-white">Developed by <a href="https://www.linkedin.com/in/ishtiuk-ahammed/" class="text-blue-500" target="_blank">Md. Ishtiuk Ahammed</a></p>
		</div>
	</footer>

</body>

</html>